.faq{
    &wrapper{
    margin-bottom: 2.8rem;
    }

    &_elts{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 2.4rem 10rem;
    }

    &resume{
        margin-bottom: 1.4rem;
    }
}

.mat-accordion{
    font-style: italic;
    width: 100%;
    text-align: left;   
}

@media only screen and (max-width: 600px) {
    .faq{&_elts{margin: 1.4rem;}}
    .mat-expansion-panel-header, 
    .mat-expansion-panel-body{
        font-size: 14px !important;
        font-weight: 400;
    }

    .mat-expansion-panel-header {
        padding: .4rem 1rem;
    }
}