<div class="faqwrapper">
    <div class="faq_elts">
        <div class="faqresume">
            <h3>FAQ-Around</h3>
            <p>Vous avez une préoccupation sur le fonctionnement de l'Application ? Vous êtes au bon endroit</p>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Les services offerts par l'application sont t'ils gratuits ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Y'aura t'il une version web ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Si oui pour la version web, aura elle plus de fonctionnalités ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Y'aura t'il une version web ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Si oui pour la version web, aura elle plus de fonctionnalités ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
