<form [formGroup]="roleForm" (ngSubmit)="onFormSubmit()" class="new-content">
  <h3 mat-dialog-title>Creation de Rôle</h3>
  <mat-dialog-content>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Nom du rôle</mat-label>
        <input matInput type="text" formControlName="name" required />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="false">Annuler</button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      class="submit"
      type="submit"
    >
      Créer le Rôle
    </button>
  </mat-dialog-actions>
</form>
