<div class="list">
    <div class="list-header">
        <div class="list-infos">
            <h4>Liste</h4>
            <div class="list-route">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
                <i class="fi fi-ss-bullet"></i>
                <a [routerLink]="['/dashboard/service/list']" routerLinkActive="router-link-active" >Services</a>
                <i class="fi fi-ss-bullet"></i>
                <a [routerLink]="['/dashboard/service/list']" routerLinkActive="router-link-active" >Liste</a>
            </div>
        </div>
        <a [routerLink]="['/dashboard/service/new']" routerLinkActive="router-link-active" >
            <button mat-raised-button>
                <span>Nouveau Service</span>
            </button>
        </a>
    </div>
    <div class="list-content">
      <table 
        mat-table 
        [dataSource]="dataSource" 
        matSort>
      
          <!-- name Column -->
          <ng-container matColumnDef="nomService">
            <th 
              mat-header-cell 
              *matHeaderCellDef 
              mat-sort-header 
              sortActionDescription="Sort by name"> Nom du Service</th>
            <td mat-cell *matCellDef="let element"> {{element.nomService}} </td>
          </ng-container>
        
          <!-- desc Column -->
          <ng-container matColumnDef="description">
            <th 
              mat-header-cell 
              *matHeaderCellDef
              mat-sort-header>Desc</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>
  
          <!-- cat Column -->
          <ng-container matColumnDef="categorieId">
            <th 
              mat-header-cell 
              *matHeaderCellDef
              mat-sort-header>Catégorie</th>
            <td mat-cell *matCellDef="let element">
              <span>{{getCatName(element.categorieId)}}</span>
          </td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th 
              mat-header-cell 
              *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="actions"> 
                <button [routerLink]="['/dashboard/service/', element.id]" mat-icon-button color="primary" disabled>
                  <i class="fi fi-rr-angle-double-small-right"></i>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <i class="fi fi-sr-menu-dots-vertical"></i>
                </button>
                <mat-menu #menu="matMenu">
                  <a 
                    mat-menu-item 
                    [routerLink]="['/dashboard/service/',element.id,'\edit']">
                    <i class="fa-solid fa-pen"></i>
                    <span>Editer</span>
                  </a>
                  <button mat-menu-item (click)="deleteService(element.id)">
                    <i class="fa-solid fa-trash-can"></i>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
          [length]="servicesLength"
          [pageSizeOptions]="[5, 10, 25, 100]" 
          aria-label="Services"></mat-paginator>
    </div>
</div>