<div class="partnerswrapper">
    <div class="partners elts">
        <div class="partners-resume">
            <h3>Approuvé par les entreprises</h3>
            <p>Around est une application mobile qui vous permet de découvrir les boutiques locales en fonction de vos besoins spécifiques.</p>
        </div>
        <swiper-container 
            class="partnerSwiper web" 
            pagination="true" 
            slides-per-view="5" 
            pagination-clickable="true" 
            space-between="30" 
            autoplay-delay="2500" 
            loop="true"
            autoplay-disable-on-interaction="false">
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/logoaround_1.svg" alt="logoaround_1" height="49">
            </swiper-slide>
        </swiper-container>
        <swiper-container 
            class="partnerSwiper mobile" 
            pagination="true" 
            slides-per-view="2" 
            pagination-clickable="true" 
            space-between="56" 
            centered-slides="true" 
            autoplay-delay="2500" 
            loop="true"
            autoplay-disable-on-interaction="false">
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/logoaround_1.svg" alt="logoaround_1" height="42">
            </swiper-slide>
        </swiper-container>
    </div>
</div>