<div id="team-wrapper">
    <div class="slogan">
        <h3>Membres de l'équipe</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Reprehenderit itaque at necessitatibus...</p>
    </div>
    <swiper-container 
        slides-per-view="5" 
        pagination="true"
        pagination-clickable="true">
        <swiper-slide>
            <div class="member1">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="member2">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="member3">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="member4">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="member5">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="member6">
                <div class="overflow"></div>
                <h4>Abanda Simon</h4>
                <p>CEO</p>
            </div>
        </swiper-slide>
    </swiper-container>
</div>