<div class="activate">
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()" class="activate-content">
      <h3 mat-dialog-title style="font-family: Poppins; font-weight: 500;">
        Nouveau Mot de passe
    </h3>
      <mat-dialog-content>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label for="oldPassword" id="oldPassword">Mot de passe actuel</mat-label>
            <input 
                matInput 
                formControlName="oldPassword" 
                required
                [type]="hide ? 'password' : 'text'"/>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide currentPassword'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="newPassword" id="newPassword">Nouveau Mot de passe</mat-label>
            <input 
                matInput 
                formControlName="newPassword" 
                required
                [type]="hide2 ? 'password' : 'text'"/>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide newPassword'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="center">
        <button 
          mat-button 
          color="warn"
          [mat-dialog-close]="false">
          Annuler la Mise à jour
        </button>
        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          class="update"
          type="submit">
          Confirmer la Mise à jour
        </button>
      </mat-dialog-actions>
    </form>
  </div>
  