<div class="whyaround-wrapper">
    <div class="whyaround-wrapper_elts">
        <div class="resume">
            <h3>Comment fonctionne Around !!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Reprehenderit itaque at necessitatibus...</p>
        </div>
        <div class="fact">
            <div class="fact1">
                <img src="../../assets/location.png" alt="location.png" width="80" height="80">
                <h4>Geolocation</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="fact2">
                <img src="../../assets/location.png" alt="location.png" width="80" height="80">
                <h4>Geolocation</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p></div>
            <div class="fact3">
                <img src="../../assets/location.png" alt="location.png" width="80" height="80">
                <h4>Geolocation</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>