<div id="hswrapper">
    <div id="hswrapper_elts">
        <div class="resume">
            <h3>Géolocalisez vos Services grâce à Around</h3>
            <p>Around est une application mobile qui vous permet de découvrir les boutiques locales en fonction de vos besoins spécifiques.</p>
            <div class="link">
                <button mat-raised-button color="primary"><i class="fa-brands fa-google-play"></i>&ensp;Google Play</button>
                <button mat-raised-button><i class="fa-brands fa-apple"></i>&ensp;App Store</button>
            </div>
        </div>
        <div class="illus">
            <img src="../../../assets/heroside.png" alt="illusi14">
        </div>
    </div>
</div>