<div class="headerwrapper">
    <div class="search icon">
        <button mat-icon-button (keydown)="handleKeyDown($event)" (click)="openSearch()">
            <i class="fi fi-br-search"></i>
        </button>
        <span class="search command">
            <i class="fi fi-sr-command"></i>
            <p>Y</p>
        </span>
    </div>
    <div class="submenu">
        <span class="submenu-item one">
            <button mat-icon-button [matMenuTriggerFor]="notifications">
                <i class="fi fi-sr-bells" [matBadge]="notificationCount" matBadgeColor="warn"></i>
            </button>
            <mat-menu #notifications="matMenu">
                <div class="notifs-header">
                    <span>Notifications</span>
                    <i class="fi fi-tr-bells"></i>
                </div>
                <div class="notifs-body">
                    <div class="notification-row" *ngFor="let notification of notifs | orderBy:'createdAt':true">
                        <div class="row">
                            <div class="row-profile">
                                <img 
                                  *ngIf="notification.compteId == 0 || !notification.compteId" 
                                  src="{{defaultSrc}}" 
                                  loading="lazy" 
                                  height="42">
                                <img 
                                  *ngIf="notification.compteId" 
                                  [src]="notification | profileUserNotification | async" 
                                  loading="lazy" 
                                  height="42"
                                  alt="...">
                            </div>
                            <div class="row-details">
                                <p><span>{{ notification.firstName }} {{ notification.lastName }}</span> a créé une nouvelle boutique et attend activation</p>
                                <span>{{ notification.createdAt | formatDate }}</span>
                            </div>
                        </div>
                        <div class="actions">
                            <button mat-raised-button disabled>Accepter</button>
                            <button mat-flat-button class="decline" disabled>Décliner</button>
                        </div>
                    </div>
                </div>
            </mat-menu> 
        </span>
        <span class="submenu-item three">
            <button 
                mat-icon-button
                routerLink="/dashboard/user/account">
                <i class="fi fi-sr-settings rotating" matBadgeColor="warn"></i>
            </button>
        </span>
        <span class="submenu-item four">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <div class="thumb">
                    <img *ngIf="profileId == 0" src="{{defaultSrc}}">
                    <img *ngIf="profileId != 0" src="data:{{imgType}};base64,{{imgSrc}}">
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <div class="profile-header">
                    <span>{{firstName}} {{lastName}}</span>
                    <span>{{email}}</span>
                </div>
                <div class="profile-body">
                    <a mat-menu-item routerLink="/dashboard">Dashboard</a>
                    <a mat-menu-item routerLink="/dashboard/user/profile">Profil</a>
                    <a mat-menu-item routerLink="/dashboard/user/account">Paramètres</a>
                </div>
                <div class="profile-footer">
                    <button mat-menu-item (click)="onLogout()">
                        Se déconnecter
                    </button>
                </div>
            </mat-menu>     
        </span>
    </div>
</div>