.headerwrapper{
  top: 0;
  left: 18%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .28rem 2rem;
  background-color: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 1000;
}

.submenu{
  display: flex;
  column-gap: 1rem;
  padding-top: .56rem;
  padding-bottom: .56rem;
  justify-content: center;
  align-items: center;
    &-item{
        &.four{
          img{
            height: 38px;
            width: 38px;
            border-radius: 50%;
          }
        }
    }
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &.icon{
    column-gap: .56rem;
  }
  
  &.command{
    border-radius: 8px;
    column-gap: .14rem;
    padding: .1rem .4rem;
    background-color: rgba(232, 232, 232, 0.922);

    &>p{
      font-size: 13px;
      font-weight: 500;
    }
  }

  .fi{
    font-size: 14px;
  }
}

.fi{
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(45, 45, 45, 0.815);
}

.profile{
  &-header, &-body, &-footer{
    padding: 10px;
    font-size: 13px;
    min-width: 11.9rem;
  }

  &-body{
    border-top: 1px dotted rgba(172, 157, 157, 0.56);
    border-bottom: 1px dotted rgba(194, 179, 179, 0.56);
  }

  &-header{
    display: flex;
    flex-direction: column;
  }
}

.notifs{
  &-header, &-body{
    font-size: 14px;
    display: flex;
    overflow-x: hidden;
  }

  &-body{
    flex-direction: column;
    padding: 10px;
    row-gap: .56rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px dotted rgba(172, 157, 157, 0.56);
  }

  &-header{
    display: flex;
    padding: 1rem 10px;
    justify-content: space-between;
  }
}

.notification-row{
  padding: .7rem;
  background-color: rgba(255, 255, 255, 0.784);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  row-gap: .8rem;

  &>.actions{
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
  }
}

.row{
  display: flex;
  column-gap: .8rem;
  flex-direction: row;

  &-profile{
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 239, 239, 0.408)
  }

  &-details{
    &>p{
      font-size: 13px;
      line-height: 16px;
      
      &>span{
        font-weight: 500;
      }
    }
  }
}

.mat-mdc-menu-item{
  font-size: 13px;
}

.mat-mdc-menu-panel{
  font-size: 13px;
}

.mat-mdc-icon-button, .thumb{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-icon-button{
  border-radius: 50%;
}

.mat-mdc-raised-button{
  color: white !important;
  font-size: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black !important;
}

.mdc-button{
  font-size: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px !important;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}