.headerwrapper{
  top: 0;
  left: 18%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .35rem 2rem;
  background-color: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 1000;
}

.submenu{
  display: flex;
  column-gap: 1rem;
  padding-top: .56rem;
  padding-bottom: .56rem;
  justify-content: center;
  align-items: center;
    &-item{
        &.four{
          img{
            height: 35px;
            width: 35px;
            border-radius: 50%;
          }
        }
    }
}

.fi{
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(45, 45, 45, 0.815);
}

.mat-mdc-icon-button, .thumb{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-icon-button{
  border-radius: 50%;
}

.profile{
  &-header, &-body, &-footer{
    padding: 10px;
    font-size: 13px;
    min-width: 11.9rem;
  }

  &-body{
    border-top: 1px dotted rgba(172, 157, 157, 0.56);
    border-bottom: 1px dotted rgba(194, 179, 179, 0.56);
  }

  &-header{
    display: flex;
    flex-direction: column;
  }
}

.mat-mdc-menu-item{
  font-size: 13px;
}

.mat-mdc-menu-panel{
  font-size: 13px;
}