<div class="headerwrapper">
    <div class="menu icon">
            <i class="fi fi-rr-search"></i>
    </div>
    <div class="submenu">
        <span class="submenu-item one">
            <button mat-icon-button [matMenuTriggerFor]="notifications">
                <i class="fi fi-sr-bells" [matBadge]="notificationCount" matBadgeColor="warn"></i>
            </button>
            <mat-menu #notifications="matMenu">
                <div class="notifs-header">
                    <span>Notifications</span>
                    <i class="fi fi-tr-bells"></i>
                </div>
                <div class="notifs-body">
                    <div class="notification-row" *ngFor="let notification of notifs | orderBy:'createdAt':true">
                        <div class="account-profile">
                            <img 
                              *ngIf="notification.compteId == 0 || !notification.compteId" 
                              src="{{defaultSrc}}" 
                              loading="lazy" 
                              height="42">
                            <img 
                              *ngIf="notification.compteId" 
                              [src]="notification | profileUserNotification | async" 
                              [alt]="notification.firstName" 
                              loading="lazy" 
                              height="42">
                        </div>
                        <div class="details">
                            <p><span>{{ notification.firstName }} {{ notification.lastName }}</span> a créé une nouvelle boutique et attend activation</p>
                            <span>{{ notification.createdAt | formatDate }}</span>
                        </div>
                        <div class="actions" *ngIf="notification.titre == 'Nouvelle Boutique'">
                            <button mat-raised-button>Accepter</button>
                            <button mat-raised-button>Décliner</button>
                        </div>
                    </div>
                </div>
            </mat-menu> 
        </span>
        <span class="submenu-item three">
            <button mat-icon-button>
                <i class="fi fi-sr-settings" matBadge="7" matBadgeColor="warn"></i>
            </button>
        </span>
        <span class="submenu-item four">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <div class="thumb">
                    <img *ngIf="profileId == 0" src="{{defaultSrc}}">
                    <img *ngIf="profileId != 0" src="data:{{imgType}};base64,{{imgSrc}}">
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <div class="profile-header">
                    <span>{{firstName}} {{lastName}}</span>
                    <span>{{email}}</span>
                </div>
                <div class="profile-body">
                    <a mat-menu-item routerLink="/dashboard">Dashboard</a>
                    <a mat-menu-item routerLink="/dashboard/user/profile">Profil</a>
                    <a mat-menu-item routerLink="/dashboard/settings">Paramètres</a>
                </div>
                <div class="profile-footer">
                    <button mat-menu-item (click)="onLogout()">
                        Se déconnecter
                    </button>
                </div>
            </mat-menu>     
        </span>
    </div>
</div>