<div class="contactwrapper">
    <div class="contact_elts">
        <div class="infos">
            <h3>Contactez-Nous</h3>
            <p>C'est très simple de nous contacter. Utilisez simplement le formulaire de contact ou rendez-nous visite pour prendre un café au bureau.</p>
            <div class="social-media">
                <span>
                    <p>Réseaux sociaux</p>
                    <ul>
                        <li><i class="fa-brands fa-facebook fa-2x"></i></li>
                        <li><i class="fa-brands fa-twitter fa-2x"></i></li>
                        <li><i class="fa-brands fa-linkedin fa-2x"></i></li>
                        <li><i class="fa-brands fa-instagram fa-2x"></i></li>
                    </ul>
                </span>
                <span><i class="fa-solid fa-phone"></i>&ensp;+41 76 801 70 00</span>
                <span><i class="fa-solid fa-envelope"></i>&ensp;contact&#64;theapparound.com</span>
            </div>
        </div>
        <div class="form">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Entrez votre nom</mat-label>
                    <input matInput placeholder="e.g. Adanda">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Entrez votre prénom</mat-label>
                    <input matInput placeholder="e.g. Simon">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Numéro de Téléphone</mat-label>
                    <input matInput placeholder="e.g. 698765432">
              </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Adresse Mail</mat-label>
                    <input matInput placeholder="e.g. metaverse@gmail.com">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Votre préoccupation</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Envoyer</button>
        </div>
    </div>
</div>