<div class="screenshots-wrapper">
    <div class="screenshots elts">
        <div class="screenshots resume">
            <h3>Les captures d'écran de l'application sont superbes</h3>
            <p>Synthétiser de manière crédible des réseaux multimédias par rapport aux stratégies de croissance de premier plan.</p>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-mask">
                <img src="../../../assets/s22-maskscreens.png" alt="">
            </div>
            <swiper-container 
                class="mySwiper web" 
                pagination="true" 
                slides-per-view="5" 
                pagination-clickable="true" 
                space-between="30" 
                autoplay-delay="2500" 
                autoplay-disable-on-interaction="false">
                <swiper-slide>
                    <img src="../../assets/screenshots/load.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/1.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/2.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/3.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/4.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/5.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/6.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/7.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../assets/screenshots/8.jpg" alt="screenshot">
                </swiper-slide>
            </swiper-container>
            <swiper-container 
                class="mySwiper mobile" 
                pagination="true" 
                slides-per-view="1" 
                pagination-clickable="true" 
                space-between="30" 
                centered-slides="true" 
                autoplay-delay="2500" 
                loop="true"
                autoplay-disable-on-interaction="false">
                <swiper-slide>
                    <img src="../../../assets/screenshots/load.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/1.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/2.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/3.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/4.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/5.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/6.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/7.jpg" alt="screenshot">
                </swiper-slide>
                <swiper-slide>
                    <img src="../../../assets/screenshots/8.jpg" alt="screenshot">
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</div>