.forbidden{
   display: flex; 
   width: 100%;
   flex-direction: column;

   &.head{
    align-items: flex-start;
    padding: 1.4rem;
   }

   &.content{
    align-items: center;
    justify-content: center;
    row-gap: 1.4rem;
    padding: 2.8rem;
   }
}

h4{font-size: 28px;}

.mat-mdc-button{
    padding: 1.4rem 1.6rem;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}