<div class="dashboard">
    <div class="welcome">
        <div class="welcome box">
            <div class="resume">
                <h3>Bon retour {{ lastName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur adipisicing elit.</p>
                <a mat-flat-button routerLink="/dashboard/user/account" style="font-size: 14px;">Commencer</a>
            </div>
            <img src="../../../assets/welcomedashboard.svg" alt="" height="210">
        </div>
        <div class="welcome shops">
            <swiper-container 
                speed="800" 
                loop="true"
                parallax="true"
                pagination="true" 
                pagination-dynamic-bullets="true"
                autoplay-disable-on-interaction="false">
                <swiper-slide *ngFor="let service of lastEightServices | orderBy:'createdAt':true">
                    <div class="cat">
                        <span data-swiper-parallax="-300">{{catName(service.categorieId)}}</span>
                    </div>
                    <div class="service">
                        <h4 data-swiper-parallax="-200">{{service.nomService}}</h4>
                        <p data-swiper-parallax="-500">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <img src="../../../assets/servicesample.svg">
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
    <div class="counters">
        <div class="counters block1">
            <div class="infos">
                <h4>Total Boutiques Actives</h4>
                <h3>{{shops | activeCount | formattedCount: '.' }}</h3>
            </div>
            <i class="fi fi-sr-shopping-cart-check"></i>
        </div>
        <div class="counters block3">
            <div class="infos">
                <h4>Total Comptes Actifs</h4>
                <h3>{{ users | activeCount | formattedCount: '.' }}</h3>
            </div>
            <i class="fi fi-sr-user-check"></i>
        </div>
        <div class="counters block3">
            <div class="infos">
                <h4>Total Services</h4>
                <h3>{{countServices | formattedCount: '.' }}</h3>
            </div>
            <i class="fi fi-rr-time-twenty-four"></i>
        </div>
    </div>
    
    <div id="growth">
        <div id="growth-accounts">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip"
                [dataLabels]="chartOptions.dataLabels">
            </apx-chart>
        </div>
        <div id="growth-shops">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip"
                [dataLabels]="chartOptions.dataLabels">
            </apx-chart>
        </div>
    </div>
</div>